@{
    Layout = "~/Views/StockHistories/Details.cshtml";
}


<div class="jumbotron">
    <h1>Your stock history is empty.</h1>
    <p class="lead">Return to your current stock page to insert more data into table.</p>
</div>