
@{
    ViewBag.Title = "Home Page";
}

<header id="landing">
    <div class="jumbotron">
        <h1>Finance Scraper</h1>
        <p class="lead">View  your current stock data and the history of your stocks</p>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
        @*<div class="col-md-4">
            <h2></h2>
            <p></p>
        </div>*@
    </div>
</header>
