@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stocks</h1>
</div>

<div class="container">
    <button id="test">@Html.ActionLink("Current Data", "Index", "FinancialContentCurrents", null, new { @class = "my-class" })</button>
    <button>@Html.ActionLink("Stock History", "Index", "FinancialContentHistories")</button>
</div>